[Unit]
Description="Deimos container management gRPC server"

[Service]
ExecStart=/usr/bin/deimosd
User=deimos
WorkingDirectory=/home/deimos
KillSignal=SIGINT

[Install]
WantedBy=network.target
